Repository ahmedOmuharram/pathfinder: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

ruff-format-api:
  name: ruff format (api)
  entry: uv run --project apps/api ruff format apps/api/src
  language: system
  pass_filenames: false

ruff-check-api:
  name: ruff check (api)
  entry: uv run --project apps/api ruff check apps/api/src
  language: system
  pass_filenames: false

mypy-api:
  name: mypy (api)
  entry: bash -c "cd apps/api && uv run --project . mypy src"
  language: system
  pass_filenames: false
  stages:
  - pre-push

prettier-web:
  name: prettier (web)
  entry: bash -c "cd apps/web && npm run format"
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c "cd apps/web && npm run lint"
  language: system
  pass_filenames: false

typecheck-web:
  name: tsc --noEmit (web)
  entry: bash -c "cd apps/web && npm run typecheck"
  language: system
  pass_filenames: false

build-web:
  name: next build (web)
  entry: bash -c "cd apps/web && NEXT_PUBLIC_API_URL='http://localhost:8000' npm run build"
  language: system
  pass_filenames: false
  stages:
  - pre-push

openapi-check-api:
  name: openapi spec up-to-date (api)
  entry: bash -c "cd apps/api && uv run python -m veupath_chatbot.devtools.openapi check"
  language: system
  pass_filenames: false
  stages:
  - pre-push

shared-ts-openapi:
  name: openapi types up-to-date (shared-ts)
  entry: bash -c "cd packages/shared-ts && npm run check:openapi"
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fix accidental gitignore
  .gitignore
  apps/web/src/features/conversation/content/parts/DataBackgroundTaskStarted.test.tsx
  apps/web/src/features/conversation/content/parts/DataBackgroundTaskStarted.tsx
  apps/web/src/features/conversation/content/parts/DataConversationTitle.test.tsx
  apps/web/src/features/conversation/content/parts/DataConversationTitle.tsx
  apps/web/src/features/conversation/content/parts/DataDecisionPresented.tsx
  apps/web/src/features/conversation/content/parts/DataEnrichmentResults.tsx
  apps/web/src/features/conversation/content/parts/DataGeneSet.test.tsx
  apps/web/src/features/conversation/content/parts/DataGeneSet.tsx
  apps/web/src/features/conversation/content/parts/DataGraphCleared.tsx
  apps/web/src/features/conversation/content/parts/DataGraphSnapshot.tsx
  apps/web/src/features/conversation/content/parts/DataMemoryRetrieved.test.tsx
  apps/web/src/features/conversation/content/parts/DataMemoryRetrieved.tsx
  apps/web/src/features/conversation/content/parts/DataPlanArtifact.test.tsx
  apps/web/src/features/conversation/content/parts/DataPlanArtifact.tsx
  apps/web/src/features/conversation/content/parts/DataProblemFrame.test.tsx
  apps/web/src/features/conversation/content/parts/DataProblemFrame.tsx
  apps/web/src/features/conversation/content/parts/DataStrategyLink.test.tsx
  apps/web/src/features/conversation/content/parts/DataStrategyLink.tsx
  apps/web/src/features/conversation/content/parts/DataStrategyMeta.tsx
  apps/web/src/features/conversation/content/parts/DataTaskCompleted.test.tsx
  apps/web/src/features/conversation/content/parts/DataTaskCompleted.tsx
  apps/web/src/features/conversation/content/parts/DataTaskProgress.test.tsx
  apps/web/src/features/conversation/content/parts/DataTaskProgress.tsx
  apps/web/src/features/conversation/content/parts/DataToolApprovalRequest.test.tsx
  apps/web/src/features/conversation/content/parts/DataToolApprovalRequest.tsx
  apps/web/src/features/conversation/content/parts/DataToolApprovalResult.test.tsx
  apps/web/src/features/conversation/content/parts/DataToolApprovalResult.tsx
  apps/web/src/features/conversation/content/parts/DataVerificationSummary.test.tsx
  apps/web/src/features/conversation/content/parts/DataVerificationSummary.tsx
  apps/web/src/features/conversation/content/parts/SubAgentCallCard.tsx
  apps/web/src/features/conversation/content/parts/ToolThink.tsx
Due: prettier-web, eslint-web, typecheck-web, build-web

Ledger shows details per tab; add model picker per phase
  apps/api/src/pathfinder/ai/agents/registry.py
  apps/api/src/pathfinder/ai/agents/roles.py
  apps/api/src/pathfinder/ai/conversation/_turn_helpers.py
  apps/api/src/pathfinder/ai/conversation/request_body.py
  apps/api/src/pathfinder/ai/conversation/turn_runner.py
  apps/api/src/pathfinder/ai/graph/lead_node.py
  apps/api/src/pathfinder/ai/graph/runtime.py
  apps/api/src/pathfinder/ai/graph/stream_events.py
  apps/api/src/pathfinder/ai/lead/derive.py
  apps/api/src/pathfinder/ai/lead/ledger.py
  apps/api/src/pathfinder/ai/lead/sub_agent_tools.py
  apps/api/src/pathfinder/transport/http/routers/models.py
  apps/web/src/app/[siteId]/(app)/layout.tsx
  apps/web/src/app/[siteId]/workbench/layout.tsx
  apps/web/src/app/components/AppNavRail.tsx
  apps/web/src/app/hooks/useModalState.ts
  apps/web/src/features/conversation/content/AssistantThinkingPlaceholder.tsx
  apps/web/src/features/conversation/content/DataPartRenderer.tsx
  apps/web/src/features/conversation/content/MessageRenderer.tsx
  apps/web/src/features/conversation/content/contentComponents.ts
  apps/web/src/features/conversation/rail/DiscoveryDetail.tsx
  apps/web/src/features/conversation/rail/LedgerPanel.tsx
  apps/web/src/features/conversation/runtime/buildRequestBody.test.ts
  apps/web/src/features/conversation/runtime/buildRequestBody.ts
  apps/web/src/features/conversation/runtime/useChatRuntime.ts
  apps/web/src/features/settings/components/ModelCatalogModal.tsx
  apps/web/src/features/settings/components/ModelPicker.tsx
  apps/web/src/features/settings/components/SettingsPage.tsx
  apps/web/src/features/settings/components/settings/ModelSettings.tsx
  apps/web/src/features/settings/types.ts
  apps/web/src/lib/models/phaseRoles.ts
  apps/web/src/state/useSettingsStore.test.ts
  apps/web/src/state/useSettingsStore.ts
  docker-compose.dev.yml
  docker-compose.yml
  packages/shared-ts/src/types.ts
  packages/spec/openapi.json
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Remove old cassette work; fix re-embedding sequential bug
  .github/workflows/refresh-cassettes.yml
  apps/api/pyproject.toml
  apps/api/scripts/audit_cassettes.py
  apps/api/scripts/scrub_cassettes.py
  apps/api/scripts/trim_cassettes.py
  apps/api/scripts/wipe_wdk_account.py
  apps/api/src/pathfinder/ai/capabilities/security.py
  apps/api/src/pathfinder/ai/conversation/dispatcher.py
  apps/api/src/pathfinder/services/catalog/semantic_matching.py
  apps/api/src/pathfinder/tests/integration/ai/agents/__init__.py
  apps/api/src/pathfinder/tests/integration/ai/agents/cassettes/.gitkeep
  apps/api/src/pathfinder/tests/unit/capabilities/test_security.py
  apps/api/src/pathfinder/tests/unit/services/catalog/test_semantic_matching.py
  apps/api/uv.lock
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

update ci to run on pydantic-ai
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

change corepack order in ci
  .github/workflows/ci.yml
Due: none

split ci + add mock env test
  .env.dev.example
  .env.test.example
  .github/actions/setup-api/action.yml
  .github/actions/setup-web/action.yml
  .github/workflows/ci.yml
  README.md
Due: none

fix placeholder markers
  .github/workflows/ci.yml
  apps/api/src/pathfinder/platform/config.py
  apps/api/src/pathfinder/tests/unit/platform/test_config.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

fix generated types issue
  .github/actions/setup-web/action.yml
  apps/web/Dockerfile
Due: prettier-web, eslint-web, typecheck-web, build-web

add openapi spec gen to the test ci
  .github/workflows/ci.yml
Due: none

remove stale .yarn from dockerfile
  apps/web/Dockerfile
Due: prettier-web, eslint-web, typecheck-web, build-web

improve schemathesis tests and minor bug fixes
  .gitignore
  apps/api/src/pathfinder/main.py
  apps/api/src/pathfinder/platform/error_handlers.py
  apps/api/src/pathfinder/services/conversations/begin.py
  apps/api/src/pathfinder/services/conversations/strategy_ops.py
  apps/api/src/pathfinder/services/eval.py
  apps/api/src/pathfinder/tests/integration/transport/openapi_schemathesis_baseline.txt
  apps/api/src/pathfinder/tests/integration/transport/test_control_sets_validation.py
  apps/api/src/pathfinder/tests/integration/transport/test_conversation_validation.py
  apps/api/src/pathfinder/tests/integration/transport/test_eval_validation.py
  apps/api/src/pathfinder/tests/integration/transport/test_null_byte_rejection.py
  apps/api/src/pathfinder/tests/integration/transport/test_openapi_problem_responses.py
  apps/api/src/pathfinder/tests/integration/transport/test_openapi_schemathesis.py
  apps/api/src/pathfinder/tests/integration/transport/test_step_counts_validation.py
  apps/api/src/pathfinder/tests/unit/ai/lead/test_phase_model_override.py
  apps/api/src/pathfinder/tests/unit/platform/test_error_handlers.py
  apps/api/src/pathfinder/tests/unit/platform/test_errors_layering.py
  apps/api/src/pathfinder/transport/http/deps.py
  apps/api/src/pathfinder/transport/http/openapi.py
  apps/api/src/pathfinder/transport/http/routers/control_sets.py
  apps/api/src/pathfinder/transport/http/routers/conversations/counts.py
  apps/api/src/pathfinder/transport/http/routers/conversations/crud.py
  apps/api/src/pathfinder/transport/http/routers/evaluation.py
  apps/api/src/pathfinder/transport/http/routers/experiments/crud.py
  apps/api/src/pathfinder/transport/http/routers/experiments/evaluation.py
  apps/api/src/pathfinder/transport/http/routers/experiments/execution.py
  apps/api/src/pathfinder/transport/http/routers/exports.py
  apps/api/src/pathfinder/transport/http/routers/gene_sets.py
  apps/api/src/pathfinder/transport/http/schemas/conversations.py
  apps/api/src/pathfinder/transport/http/sse_utils.py
  packages/spec/openapi.json
  packages/spec/openapi.yaml
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

add startup loading, fix restart worker on crash
  apps/api/src/pathfinder/ai/graph/_lead_events.py
  apps/api/src/pathfinder/ai/tools/standalone/_plan_models.py
  apps/api/src/pathfinder/domain/parameters/_value_helpers.py
  apps/api/src/pathfinder/domain/parameters/value_utils.py
  apps/api/src/pathfinder/domain/parameters/values.py
  apps/api/src/pathfinder/platform/health.py
  apps/api/src/pathfinder/tests/integration/transport/test_system_ready.py
  apps/api/src/pathfinder/tests/unit/ai/graph/test_lead_event_summaries.py
  apps/api/src/pathfinder/tests/unit/domain/parameters/test_decode_single_value.py
  apps/api/src/pathfinder/tests/unit/domain/parameters/test_value_coercion.py
  apps/api/src/pathfinder/tests/unit/tools/test_plan_param_coercion.py
  apps/api/src/pathfinder/transport/http/routers/health.py
  apps/api/src/pathfinder/transport/http/schemas/health.py
  apps/web/src/app/[siteId]/layout.tsx
  apps/web/src/app/components/StartupScreen.tsx
  apps/web/src/app/components/SystemReadyGate.test.tsx
  apps/web/src/app/components/SystemReadyGate.tsx
  docker-compose.yml
  packages/spec/openapi.json
  packages/spec/openapi.yaml
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

hidden params bug fix
  apps/api/src/pathfinder/ai/agents/state.py
  apps/api/src/pathfinder/ai/capabilities/error_classification.py
  apps/api/src/pathfinder/ai/lead/sub_agent_tools.py
  apps/api/src/pathfinder/ai/tools/standalone/catalog.py
  apps/api/src/pathfinder/ai/tools/toolsets/discovery.py
  apps/api/src/pathfinder/domain/parameters/specs.py
  apps/api/src/pathfinder/domain/parameters/vocab_utils.py
  apps/api/src/pathfinder/services/catalog/param_formatting.py
  apps/api/src/pathfinder/services/catalog/param_validation.py
  apps/api/src/pathfinder/tests/integration/strategies/test_wdk_required_param_pipeline.py
  apps/api/src/pathfinder/tests/unit/ai/lead/test_sub_agent_step_error_state.py
  apps/api/src/pathfinder/tests/unit/ai/tools/toolsets/test_dynamic_discovery_enums.py
  apps/api/src/pathfinder/tests/unit/domain/parameters/test_hidden_required_defaults.py
  apps/api/src/pathfinder/tests/unit/domain/parameters/test_vocab_error_guidance.py
  apps/api/src/pathfinder/tests/unit/tools/test_catalog_tools.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

add agent devtools for debugging (pathfinder in cli)
  .gitignore
  apps/api/src/pathfinder/ai/conversation/event_writer.py
  apps/api/src/pathfinder/ai/conversation/turn_runner.py
  apps/api/src/pathfinder/devtools/README.md
  apps/api/src/pathfinder/devtools/capture.py
  apps/api/src/pathfinder/devtools/chat.py
  apps/api/src/pathfinder/devtools/diagnosis.py
  apps/api/src/pathfinder/devtools/inspector.py
  apps/api/src/pathfinder/devtools/models.py
  apps/api/src/pathfinder/devtools/wdk_capture.py
  apps/api/src/pathfinder/integrations/veupathdb/auth_login.py
  apps/api/src/pathfinder/jobs/runner.py
  apps/api/src/pathfinder/services/wdk/__init__.py
  apps/api/src/pathfinder/tests/integration/devtools/__init__.py
  apps/api/src/pathfinder/tests/integration/devtools/test_chat_cli.py
  apps/api/src/pathfinder/tests/unit/devtools/__init__.py
  apps/api/src/pathfinder/tests/unit/devtools/test_capture.py
  apps/api/src/pathfinder/tests/unit/devtools/test_diagnosis.py
  apps/api/src/pathfinder/tests/unit/devtools/test_inspector.py
  apps/api/src/pathfinder/tests/unit/devtools/test_models.py
  apps/api/src/pathfinder/tests/unit/devtools/test_wdk_capture.py
  apps/api/src/pathfinder/tests/unit/transport/test_veupathdb_auth_cookie_extraction.py
  apps/api/src/pathfinder/transport/http/routers/veupathdb_auth.py
  docker-compose.yml
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

toggle piguard for dev, discovery bug fix, and use 5-mini as default
  .env.example
  apps/api/.env.example
  apps/api/src/pathfinder/ai/agents/_instructions.py
  apps/api/src/pathfinder/ai/agents/discovery.py
  apps/api/src/pathfinder/ai/agents/execution.py
  apps/api/src/pathfinder/ai/agents/planning.py
  apps/api/src/pathfinder/ai/agents/scoping.py
  apps/api/src/pathfinder/ai/agents/verification.py
  apps/api/src/pathfinder/ai/capabilities/security.py
  apps/api/src/pathfinder/ai/graph/lead_node.py
  apps/api/src/pathfinder/ai/graph/runtime.py
  apps/api/src/pathfinder/ai/graph/state.py
  apps/api/src/pathfinder/ai/lead/derive.py
  apps/api/src/pathfinder/ai/lead/lead_agent.py
  apps/api/src/pathfinder/ai/lead/sub_agent_dispatch.py
  apps/api/src/pathfinder/ai/lead/sub_agent_tools.py
  apps/api/src/pathfinder/ai/models/tiers.py
  apps/api/src/pathfinder/ai/tools/standalone/catalog_discovery.py
  apps/api/src/pathfinder/devtools/README.md
  apps/api/src/pathfinder/main.py
  apps/api/src/pathfinder/platform/config.py
  apps/api/src/pathfinder/platform/types.py
  apps/api/src/pathfinder/services/catalog/param_dag.py
  apps/api/src/pathfinder/tests/integration/ai/test_targeted_rediscovery.py
  apps/api/src/pathfinder/tests/unit/ai/agents/test_discovery_agent.py
  apps/api/src/pathfinder/tests/unit/ai/agents/test_pinned_ledger.py
  apps/api/src/pathfinder/tests/unit/ai/graph/test_lead_rescope_on_reply.py
  apps/api/src/pathfinder/tests/unit/ai/graph/test_runtime.py
  apps/api/src/pathfinder/tests/unit/ai/lead/test_derive.py
  apps/api/src/pathfinder/tests/unit/ai/lead/test_phase_model_override.py
  apps/api/src/pathfinder/tests/unit/ai/tools/test_param_vocab_snapshot.py
  apps/api/src/pathfinder/tests/unit/ai/tools/test_resolve_search_parameters.py
  apps/api/src/pathfinder/tests/unit/capabilities/test_security.py
  apps/api/src/pathfinder/tests/unit/platform/test_config.py
  apps/api/src/pathfinder/tests/unit/services/catalog/test_param_dag.py
  apps/api/src/pathfinder/tests/unit/test_tier_endpoints.py
  docker-compose.yml
  packages/spec/openapi.json
  packages/spec/openapi.yaml
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

embed/reembed bug fixes, lit+web search changes
  apps/api/src/pathfinder/ai/memory/embedding.py
  apps/api/src/pathfinder/ai/memory/reembed.py
  apps/api/src/pathfinder/ai/memory/store.py
  apps/api/src/pathfinder/ai/tools/standalone/catalog.py
  apps/api/src/pathfinder/devtools/reembed_memories.py
  apps/api/src/pathfinder/integrations/embeddings/prefixes.py
  apps/api/src/pathfinder/integrations/embeddings/semantic_index.py
  apps/api/src/pathfinder/services/catalog/public_strategy_search.py
  apps/api/src/pathfinder/services/research/literature_search.py
  apps/api/src/pathfinder/services/research/processing.py
  apps/api/src/pathfinder/services/research/utils.py
  apps/api/src/pathfinder/services/research/web_search.py
  apps/api/src/pathfinder/tests/conftest.py
  apps/api/src/pathfinder/tests/integration/ai/memory/test_reembed.py
  apps/api/src/pathfinder/tests/integration/ai/memory/test_store_roundtrip.py
  apps/api/src/pathfinder/tests/unit/ai/memory/test_embedding.py
  apps/api/src/pathfinder/tests/unit/integrations/embeddings/test_prefixes.py
  apps/api/src/pathfinder/tests/unit/services/catalog/test_public_strategy_semantic.py
  apps/api/src/pathfinder/tests/unit/services/research/test_processing.py
  apps/api/src/pathfinder/tests/unit/services/research/test_web_search.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

bug fix in frame spec
  apps/api/src/pathfinder/ai/tools/standalone/frame_spec.py
  apps/api/src/pathfinder/tests/unit/ai/agents/test_frame_toolset.py
  apps/web/src/features/conversation/content/MessageRenderer.test.tsx
  apps/web/src/features/conversation/content/parts/SubAgentCallCard.tsx
  apps/web/src/features/conversation/runtime/buildRequestBody.test.ts
  apps/web/src/features/conversation/runtime/feedbackAdapter.test.ts
  apps/web/src/lib/models/phaseRoles.ts
  apps/web/src/state/middleware.ts
  apps/web/src/state/useSettingsStore.test.ts
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

ui improvements, ledger step ids bug fix
  .gitignore
  apps/api/src/pathfinder/ai/agents/frame.py
  apps/api/src/pathfinder/ai/agents/verification.py
  apps/api/src/pathfinder/ai/capabilities/resilience.py
  apps/api/src/pathfinder/ai/graph/_lead_events.py
  apps/api/src/pathfinder/ai/lead/ledger.py
  apps/api/src/pathfinder/ai/prompts/system.md
  apps/api/src/pathfinder/ai/tools/standalone/_graph_helpers.py
  apps/api/src/pathfinder/ai/tools/standalone/_result_models.py
  apps/api/src/pathfinder/ai/tools/standalone/frame_spec.py
  apps/api/src/pathfinder/ai/tools/standalone/results.py
  apps/api/src/pathfinder/domain/strategy/ast.py
  apps/api/src/pathfinder/services/catalog/param_dag.py
  apps/api/src/pathfinder/services/strategies/kind_validation.py
  apps/api/src/pathfinder/services/strategies/schemas.py
  apps/api/src/pathfinder/tests/unit/ai/agents/test_frame_toolset.py
  apps/api/src/pathfinder/tests/unit/ai/graph/test_lead_event_summaries.py
  apps/api/src/pathfinder/tests/unit/ai/lead/test_types.py
  apps/api/src/pathfinder/tests/unit/ai/tools/test_sample_records.py
  apps/api/src/pathfinder/tests/unit/capabilities/test_resilience.py
  apps/api/src/pathfinder/tests/unit/domain/strategy/test_ast_properties.py
  apps/api/src/pathfinder/tests/unit/services/catalog/test_param_dag.py
  apps/api/src/pathfinder/tests/unit/services/strategies/test_kind_validation.py
  apps/api/src/pathfinder/tests/unit/services/strategies/test_schemas.py
  apps/web/src/features/conversation/rail/LedgerPanel.test.tsx
  apps/web/src/features/conversation/rail/LedgerPanel.tsx
  apps/web/src/features/conversation/rail/LedgerPanelDetail.tsx
  apps/web/src/features/conversation/rail/LedgerPanelSections.test.tsx
  apps/web/src/features/conversation/rail/LedgerPanelSections.tsx
  apps/web/src/features/strategy/graph/components/CompactSpine.tsx
  apps/web/src/features/strategy/graph/components/CompactStrategyView.test.tsx
  apps/web/src/features/strategy/services/useStepCounts.test.ts
  apps/web/src/features/strategy/services/useStepCounts.ts
  packages/shared-ts/src/types.ts
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Path conditions:
  ruff-format-api: any of: \.py$
  ruff-check-api: any of: \.py$
  mypy-api: any of: \.py$
  prettier-web: any of: ^(apps/web/|packages/shared-ts/).*
  eslint-web: any of: ^(apps/web/|packages/shared-ts/).*
  typecheck-web: any of: ^(apps/web/|packages/shared-ts/).*
  build-web: any of: ^(apps/web/|packages/shared-ts/).*
  openapi-check-api: any of: ^apps/api/.* and \.py$
  shared-ts-openapi: any of: ^(packages/shared-ts/|apps/api/).*
