Repository ahmedOmuharram/pathfinder: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

ruff-format-api:
  name: ruff format (api)
  entry: uv run --project apps/api ruff format apps/api/src
  language: system
  pass_filenames: false

ruff-check-api:
  name: ruff check (api)
  entry: uv run --project apps/api ruff check apps/api/src
  language: system
  pass_filenames: false

mypy-api:
  name: mypy (api)
  entry: bash -c "cd apps/api && uv run --project . mypy src"
  language: system
  pass_filenames: false
  stages:
  - pre-push

prettier-web:
  name: prettier (web)
  entry: bash -c "cd apps/web && npm run format"
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c "cd apps/web && npm run lint"
  language: system
  pass_filenames: false

typecheck-web:
  name: tsc --noEmit (web)
  entry: bash -c "cd apps/web && npm run typecheck"
  language: system
  pass_filenames: false

build-web:
  name: next build (web)
  entry: bash -c "cd apps/web && NEXT_PUBLIC_API_URL='http://localhost:8000' npm run build"
  language: system
  pass_filenames: false
  stages:
  - pre-push

openapi-check-api:
  name: openapi spec up-to-date (api)
  entry: bash -c "cd apps/api && uv run python -m veupath_chatbot.devtools.openapi check"
  language: system
  pass_filenames: false
  stages:
  - pre-push

shared-ts-openapi:
  name: openapi types up-to-date (shared-ts)
  entry: bash -c "cd packages/shared-ts && npm run check:openapi"
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fix I001 violations
  apps/api/src/veupath_chatbot/services/experiment/types/json_codec.py
  apps/api/src/veupath_chatbot/tests/unit/test_compile.py
  apps/api/src/veupath_chatbot/tests/unit/test_discovery.py
  apps/api/src/veupath_chatbot/tests/unit/test_execution_tools_build.py
  apps/api/src/veupath_chatbot/tests/unit/test_research_clients.py
  apps/api/src/veupath_chatbot/tests/unit/test_strategy_build_service.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Add SonarQube for code analysis
  .gitignore
  README.md
  apps/api/src/veupath_chatbot/main.py
  docker-compose.yml
  scripts/sonar-scan.sh
  sonar-project.properties
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Update README testing section
  README.md
  docs/DEVELOPMENT.md
Due: none

(WIP) Site-search modeling
  apps/api/src/veupath_chatbot/ai/tools/planner/optimization_tools.py
  apps/api/src/veupath_chatbot/ai/tools/strategy_tools/discovery_ops.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/discovery.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/site_router.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/site_search.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/site_search_client.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/base.py
  apps/api/src/veupath_chatbot/main.py
  apps/api/src/veupath_chatbot/platform/text.py
  apps/api/src/veupath_chatbot/services/catalog/searches.py
  apps/api/src/veupath_chatbot/services/gene_lookup/enrich.py
  apps/api/src/veupath_chatbot/services/gene_lookup/lookup.py
  apps/api/src/veupath_chatbot/services/gene_lookup/organism.py
  apps/api/src/veupath_chatbot/services/gene_lookup/site_search.py
  apps/api/src/veupath_chatbot/services/gene_lookup/wdk.py
  apps/api/src/veupath_chatbot/services/wdk/__init__.py
  apps/api/src/veupath_chatbot/tests/integration/test_live_catalog_discovery.py
  apps/api/src/veupath_chatbot/tests/integration/test_live_gene_tools.py
  apps/api/src/veupath_chatbot/tests/integration/test_wdk_client.py
  apps/api/src/veupath_chatbot/tests/unit/test_catalog_searches.py
  apps/api/src/veupath_chatbot/tests/unit/test_discovery.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_edge_cases.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_site_search.py
  apps/api/src/veupath_chatbot/tests/unit/test_plr0913_dataclasses.py
  apps/api/src/veupath_chatbot/tests/unit/test_site_search.py
  apps/api/src/veupath_chatbot/tests/unit/test_text.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_fixture_shapes.py
  apps/api/src/veupath_chatbot/transport/http/routers/sites/genes.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

(WIP) Replace JSONObject with typed models in gene lookup pipeline
  apps/api/src/veupath_chatbot/ai/tools/planner/gene_tools.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/client.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/site_search_client.py
  apps/api/src/veupath_chatbot/services/catalog/searches.py
  apps/api/src/veupath_chatbot/services/experiment/helpers.py
  apps/api/src/veupath_chatbot/services/gene_lookup/__init__.py
  apps/api/src/veupath_chatbot/services/gene_lookup/enrich.py
  apps/api/src/veupath_chatbot/services/gene_lookup/lookup.py
  apps/api/src/veupath_chatbot/services/gene_lookup/result.py
  apps/api/src/veupath_chatbot/services/gene_lookup/scoring.py
  apps/api/src/veupath_chatbot/services/gene_lookup/site_search.py
  apps/api/src/veupath_chatbot/services/gene_lookup/wdk.py
  apps/api/src/veupath_chatbot/services/search_rerank.py
  apps/api/src/veupath_chatbot/tests/integration/test_live_gene_lookup.py
  apps/api/src/veupath_chatbot/tests/unit/test_experiment_helpers.py
  apps/api/src/veupath_chatbot/tests/unit/test_experiment_helpers_extended.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_decomposed.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_edge_cases.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_enrich.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_lookup.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_result.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_scoring.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_site_search.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_wdk.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_tools.py
  apps/api/src/veupath_chatbot/tests/unit/test_site_search.py
  apps/api/src/veupath_chatbot/tests/unit/test_tool_registries.py
  apps/api/src/veupath_chatbot/transport/http/routers/sites/genes.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

(WIP) Replace JSONObject with typed models in catalog/discovery
  apps/api/src/veupath_chatbot/ai/tools/catalog_tools.py
  apps/api/src/veupath_chatbot/ai/tools/strategy_tools/discovery_ops.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/discovery.py
  apps/api/src/veupath_chatbot/services/catalog/__init__.py
  apps/api/src/veupath_chatbot/services/catalog/models.py
  apps/api/src/veupath_chatbot/services/catalog/param_discovery.py
  apps/api/src/veupath_chatbot/services/catalog/param_validation.py
  apps/api/src/veupath_chatbot/services/catalog/searches.py
  apps/api/src/veupath_chatbot/services/catalog/sites.py
  apps/api/src/veupath_chatbot/services/wdk/record_types.py
  apps/api/src/veupath_chatbot/tests/integration/test_live_catalog_discovery.py
  apps/api/src/veupath_chatbot/tests/unit/test_catalog_param_resolution.py
  apps/api/src/veupath_chatbot/tests/unit/test_catalog_parameters.py
  apps/api/src/veupath_chatbot/tests/unit/test_catalog_searches.py
  apps/api/src/veupath_chatbot/tests/unit/test_catalog_sites.py
  apps/api/src/veupath_chatbot/tests/unit/test_id_mapping.py
  apps/api/src/veupath_chatbot/tests/unit/test_param_resolution_decomposed.py
  apps/api/src/veupath_chatbot/tests/unit/test_resolve_record_type.py
  apps/api/src/veupath_chatbot/transport/http/routers/sites/catalog.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

(WIP) Add further model typing
  apps/api/src/veupath_chatbot/ai/tools/catalog_tools.py
  apps/api/src/veupath_chatbot/ai/tools/planner/artifact_tools.py
  apps/api/src/veupath_chatbot/ai/tools/planner/optimization_tools.py
  apps/api/src/veupath_chatbot/services/catalog/__init__.py
  apps/api/src/veupath_chatbot/services/catalog/models.py
  apps/api/src/veupath_chatbot/services/catalog/searches.py
  apps/api/src/veupath_chatbot/tests/integration/test_live_catalog_discovery.py
  apps/api/src/veupath_chatbot/tests/unit/test_catalog_searches.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Remove dead tests
  apps/api/src/veupath_chatbot/tests/unit/test_optimization_tools.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Further pydantic typing
  apps/api/src/veupath_chatbot/ai/orchestration/delegation.py
  apps/api/src/veupath_chatbot/ai/orchestration/results.py
  apps/api/src/veupath_chatbot/ai/orchestration/scheduler.py
  apps/api/src/veupath_chatbot/ai/orchestration/subkani/events.py
  apps/api/src/veupath_chatbot/ai/orchestration/subkani/orchestrator.py
  apps/api/src/veupath_chatbot/ai/orchestration/subkani/runner.py
  apps/api/src/veupath_chatbot/ai/orchestration/subkani/utils.py
  apps/api/src/veupath_chatbot/ai/tools/catalog_tools.py
  apps/api/src/veupath_chatbot/domain/parameters/specs.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/client.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/base.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/reports.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/steps.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/wdk_models.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/wdk_parameters.py
  apps/api/src/veupath_chatbot/services/catalog/param_resolution.py
  apps/api/src/veupath_chatbot/services/experiment/ai_analysis_tools.py
  apps/api/src/veupath_chatbot/services/experiment/rank_metrics.py
  apps/api/src/veupath_chatbot/services/gene_lookup/wdk.py
  apps/api/src/veupath_chatbot/services/strategies/step_creation.py
  apps/api/src/veupath_chatbot/services/strategies/step_validation.py
  apps/api/src/veupath_chatbot/services/strategies/wdk_conversion.py
  apps/api/src/veupath_chatbot/services/strategies/wdk_counts.py
  apps/api/src/veupath_chatbot/services/wdk/step_results.py
  apps/api/src/veupath_chatbot/tests/integration/test_wdk_client.py
  apps/api/src/veupath_chatbot/tests/unit/test_delegation_gene_set.py
  apps/api/src/veupath_chatbot/tests/unit/test_delegation_plan.py
  apps/api/src/veupath_chatbot/tests/unit/test_gene_lookup_wdk.py
  apps/api/src/veupath_chatbot/tests/unit/test_integration_step_updates.py
  apps/api/src/veupath_chatbot/tests/unit/test_step_creation_service.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_client_http.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_integration_edge_cases.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_parameters.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Further refactoring and model typing
  apps/api/pyproject.toml
  apps/api/src/veupath_chatbot/ai/orchestration/delegation.py
  apps/api/src/veupath_chatbot/ai/orchestration/subkani/orchestrator.py
  apps/api/src/veupath_chatbot/ai/tools/planner/optimization_tools.py
  apps/api/src/veupath_chatbot/domain/research/papers.py
  apps/api/src/veupath_chatbot/domain/strategy/ast.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/client.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/wdk_models.py
  apps/api/src/veupath_chatbot/services/experiment/ai_refinement_tools.py
  apps/api/src/veupath_chatbot/services/experiment/materialization.py
  apps/api/src/veupath_chatbot/services/experiment/service.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/__init__.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/callbacks.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/config.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/core.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/scoring.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/trials.py
  apps/api/src/veupath_chatbot/services/research/clients/crossref.py
  apps/api/src/veupath_chatbot/services/research/clients/europepmc.py
  apps/api/src/veupath_chatbot/services/research/clients/openalex.py
  apps/api/src/veupath_chatbot/services/research/clients/semanticscholar.py
  apps/api/src/veupath_chatbot/services/strategies/wdk_counts.py
  apps/api/src/veupath_chatbot/tests/unit/test_optimization_tools.py
  apps/api/src/veupath_chatbot/tests/unit/test_parameter_optimization.py
  apps/api/src/veupath_chatbot/tests/unit/test_parameter_optimization_extended.py
  apps/api/src/veupath_chatbot/tests/unit/test_parsed_paper_models.py
  apps/api/src/veupath_chatbot/tests/unit/test_plr0913_dataclasses.py
  apps/api/src/veupath_chatbot/tests/unit/test_type_unification.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_models.py
  apps/api/src/veupath_chatbot/transport/http/routers/experiments/results.py
  apps/api/src/veupath_chatbot/transport/http/routers/gene_sets.py
  apps/api/src/veupath_chatbot/transport/http/schemas/experiments.py
  apps/api/src/veupath_chatbot/transport/http/schemas/gene_sets.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Fixes for previous commit's tests
  apps/api/src/veupath_chatbot/ai/tools/catalog_tools.py
  apps/api/src/veupath_chatbot/services/catalog/param_resolution.py
  apps/api/src/veupath_chatbot/services/catalog/param_validation.py
  apps/api/src/veupath_chatbot/services/strategies/wdk_conversion.py
  apps/api/src/veupath_chatbot/services/wdk/__init__.py
  apps/api/src/veupath_chatbot/tests/integration/test_wdk_client.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_client.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_client_encoding.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_integration_edge_cases.py
  apps/api/src/veupath_chatbot/transport/http/routers/strategies/plan.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Improve experiment modelling + tests
  apps/api/docs/api/services.rst
  apps/api/src/veupath_chatbot/services/parameter_optimization/builders.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/core.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/early_stop.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/evaluation.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/sampler.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/scoring.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/trials.py
  apps/api/src/veupath_chatbot/tests/unit/test_concurrency_race_conditions.py
  apps/api/src/veupath_chatbot/tests/unit/test_error_resilience.py
  apps/api/src/veupath_chatbot/tests/unit/test_factory_methods.py
  apps/api/src/veupath_chatbot/tests/unit/test_parameter_optimization.py
  apps/api/src/veupath_chatbot/tests/unit/test_parameter_optimization_extended.py
  apps/api/src/veupath_chatbot/tests/unit/test_trial_decomposition.py
  apps/api/src/veupath_chatbot/tests/unit/test_trials_decomposition.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Dead code removal + bug fixes
  apps/api/src/veupath_chatbot/ai/orchestration/results.py
  apps/api/src/veupath_chatbot/ai/orchestration/scheduler.py
  apps/api/src/veupath_chatbot/ai/prompts/subtask.md
  apps/api/src/veupath_chatbot/ai/prompts/system.md
  apps/api/src/veupath_chatbot/ai/stubs/__init__.py
  apps/api/src/veupath_chatbot/ai/stubs/kani.pyi
  apps/api/src/veupath_chatbot/integrations/veupathdb/client.py
  apps/api/src/veupath_chatbot/jobs/__init__.py
  apps/api/src/veupath_chatbot/platform/store.py
  apps/api/src/veupath_chatbot/services/chat/streaming.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/config.py
  apps/api/src/veupath_chatbot/services/research/literature_search.py
  apps/api/src/veupath_chatbot/services/research/web_search.py
  apps/api/src/veupath_chatbot/services/user_data.py
  apps/api/src/veupath_chatbot/tests/unit/test_platform_store.py
  apps/api/src/veupath_chatbot/tests/unit/test_user_data_service.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_client_http.py
  packages/shared-py/src/shared_py/__init__.py
  packages/shared-py/src/shared_py/models.py
  packages/shared-ts/package.json
  packages/shared-ts/src/types.ts
  packages/shared-ts/src/zod.ts
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Spec updates
  packages/shared-ts/src/openapi.generated.ts
  packages/spec/openapi.json
Due: prettier-web, eslint-web, typecheck-web, build-web, shared-ts-openapi

Fix tag filtering bug
  apps/api/src/veupath_chatbot/persistence/models.py
  apps/api/src/veupath_chatbot/persistence/repositories/control_set.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Path conditions:
  ruff-format-api: any of: \.py$
  ruff-check-api: any of: \.py$
  mypy-api: any of: \.py$
  prettier-web: any of: ^(apps/web/|packages/shared-ts/).*
  eslint-web: any of: ^(apps/web/|packages/shared-ts/).*
  typecheck-web: any of: ^(apps/web/|packages/shared-ts/).*
  build-web: any of: ^(apps/web/|packages/shared-ts/).*
  openapi-check-api: any of: ^apps/api/.* and \.py$
  shared-ts-openapi: any of: ^(packages/shared-ts/|apps/api/).*
