Repository ahmedOmuharram/pathfinder: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

ruff-format-api:
  name: ruff format (api)
  entry: uv run --project apps/api ruff format apps/api/src
  language: system
  pass_filenames: false

ruff-check-api:
  name: ruff check (api)
  entry: uv run --project apps/api ruff check apps/api/src
  language: system
  pass_filenames: false

mypy-api:
  name: mypy (api)
  entry: bash -c "cd apps/api && uv run --project . mypy src"
  language: system
  pass_filenames: false
  stages:
  - pre-push

prettier-web:
  name: prettier (web)
  entry: bash -c "cd apps/web && npm run format"
  language: system
  pass_filenames: false

eslint-web:
  name: eslint (web)
  entry: bash -c "cd apps/web && npm run lint"
  language: system
  pass_filenames: false

typecheck-web:
  name: tsc --noEmit (web)
  entry: bash -c "cd apps/web && npm run typecheck"
  language: system
  pass_filenames: false

build-web:
  name: next build (web)
  entry: bash -c "cd apps/web && NEXT_PUBLIC_API_URL='http://localhost:8000' npm run build"
  language: system
  pass_filenames: false
  stages:
  - pre-push

openapi-check-api:
  name: openapi spec up-to-date (api)
  entry: bash -c "cd apps/api && uv run python -m veupath_chatbot.devtools.openapi check"
  language: system
  pass_filenames: false
  stages:
  - pre-push

shared-ts-openapi:
  name: openapi types up-to-date (shared-ts)
  entry: bash -c "cd packages/shared-ts && npm run check:openapi"
  language: system
  pass_filenames: false
  stages:
  - pre-push

Mypy and spec updates occur at pre-commit
  .pre-commit-config.yaml
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/__init__.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Dedup seed def files, remove stale code
  apps/api/src/veupath_chatbot/services/experiment/seed/__init__.py
  apps/api/src/veupath_chatbot/services/experiment/seed/definitions.py
  apps/api/src/veupath_chatbot/services/experiment/seed/gene_lists.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/amoebadb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/cryptodb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/fungidb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/giardiadb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/hostdb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/microsporidiadb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/orthomcl.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/piroplasmadb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/plasmodb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/toxodb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/tritrypdb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/vectorbase.py
  apps/api/src/veupath_chatbot/services/experiment/seed/seeds/veupathdb.py
  apps/api/src/veupath_chatbot/services/experiment/seed/types.py
  apps/api/src/veupath_chatbot/tests/unit/test_message_persistence.py
  apps/api/src/veupath_chatbot/tests/unit/test_seed_definitions.py
  apps/api/src/veupath_chatbot/tests/unit/test_seed_gene_lists.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Deduplication & dead code removal
  apps/api/src/veupath_chatbot/ai/tools/catalog_registry.py
  apps/api/src/veupath_chatbot/domain/parameters/_value_helpers.py
  apps/api/src/veupath_chatbot/domain/strategy/compile.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/steps.py
  apps/api/src/veupath_chatbot/services/catalog/param_validation.py
  apps/api/src/veupath_chatbot/services/strategies/step_creation.py
  apps/api/src/veupath_chatbot/transport/http/routers/sites/params.py
  apps/web/src/app/page.tsx
  apps/web/src/features/chat/components/thinking/ChatThinkingDetails.tsx
  apps/web/src/features/strategy/editor/components/StepSearchSelector.tsx
  apps/web/src/features/strategy/editor/components/stepEditorUtils.test.ts
  apps/web/src/features/strategy/editor/components/stepEditorUtils.ts
  apps/web/src/features/strategy/editor/hooks/useStepRecordType.ts
  apps/web/src/features/strategy/editor/hooks/useStepSearch.ts
  apps/web/src/features/strategy/editor/useStepEditorState.ts
  apps/web/src/features/strategy/validation/save.ts
  apps/web/src/features/workbench/api/geneSets.test.ts
  apps/web/src/features/workbench/api/geneSets.ts
  apps/web/src/features/workbench/api/index.ts
  apps/web/src/features/workbench/components/AddGeneSetPasteTab.tsx
  apps/web/src/features/workbench/components/AddGeneSetUploadTab.tsx
  apps/web/src/features/workbench/components/VerificationResults.tsx
  apps/web/src/lib/hooks/useParamSpecs.ts
  apps/web/src/lib/types/wdk.ts
  apps/web/src/lib/utils/buildContextValues.ts
  apps/web/src/lib/utils/normalizeRecordType.ts
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

VEuPathDB as the default db, 403/401 on compose down -v bug fix
  apps/api/config.toml
  apps/api/src/veupath_chatbot/integrations/veupathdb/site_router.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/sites.yaml
  apps/api/src/veupath_chatbot/platform/config.py
  apps/api/src/veupath_chatbot/tests/fixtures/sse_collector.py
  apps/web/src/features/chat/components/ChatEmptyState.tsx
  apps/web/src/features/chat/handlers/handleChatEvent.testUtils.ts
  apps/web/src/features/chat/hooks/useUnifiedChatDataLoading.ts
  apps/web/src/features/settings/components/SettingsPage.tsx
  apps/web/src/features/settings/components/settings/DataSettings.tsx
  apps/web/src/features/sidebar/hooks/useConversationSidebarData.ts
  apps/web/src/features/sites/components/SitePicker.tsx
  apps/web/src/lib/api/http.ts
  apps/web/src/state/useSessionStore.ts
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

5xx error resolution
  apps/api/src/veupath_chatbot/integrations/veupathdb/client.py
  apps/api/src/veupath_chatbot/tests/unit/test_wdk_integration_edge_cases.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Undo aggressive 401 force signouts that were blocking E2E
  apps/web/src/lib/api/http.ts
Due: prettier-web, eslint-web, typecheck-web, build-web

Race condition in e2e fix
  apps/web/e2e/feature/dismissed-strategies.spec.ts
Due: prettier-web, eslint-web, typecheck-web, build-web

Easier setup (consolidate to 1 .env.example), RAG + model options for hypothesis testing
  .env.example
  apps/api/.env.example
  apps/api/src/veupath_chatbot/ai/agents/executor.py
  apps/api/src/veupath_chatbot/ai/agents/factory.py
  apps/api/src/veupath_chatbot/ai/tools/catalog_rag_tools.py
  apps/api/src/veupath_chatbot/ai/tools/example_plans_rag_tools.py
  apps/api/src/veupath_chatbot/platform/config.py
  apps/api/src/veupath_chatbot/services/chat/orchestrator.py
  apps/api/src/veupath_chatbot/transport/http/routers/chat.py
  apps/api/src/veupath_chatbot/transport/http/routers/health.py
  apps/api/src/veupath_chatbot/transport/http/routers/strategies/crud.py
  apps/api/src/veupath_chatbot/transport/http/schemas/__init__.py
  apps/api/src/veupath_chatbot/transport/http/schemas/chat.py
  apps/api/src/veupath_chatbot/transport/http/schemas/health.py
  apps/web/.env.example
  apps/web/src/app/components/SetupRequiredScreen.tsx
  apps/web/src/app/hooks/useSystemConfig.ts
  apps/web/src/app/page.tsx
  apps/web/src/app/workbench/page.tsx
  apps/web/src/lib/api/health.ts
  apps/web/src/lib/api/schemas/health.ts
  docker-compose.yml
  packages/shared-ts/src/openapi.generated.ts
  packages/spec/openapi.yaml
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Default provider for compose instead of mock
  docker-compose.yml
Due: none

Fix E2E failing test
  apps/web/e2e/pages/settings.page.ts
Due: prettier-web, eslint-web, typecheck-web, build-web

Fix Anthropic models thinking and interleaved message/tool bugs
  apps/api/src/veupath_chatbot/ai/agents/factory.py
  apps/api/src/veupath_chatbot/services/chat/streaming.py
  apps/api/src/veupath_chatbot/services/strategies/engine/validation.py
  apps/api/src/veupath_chatbot/tests/integration/test_http_exports.py
  apps/api/src/veupath_chatbot/tests/integration/test_live_gene_tools.py
  apps/web/e2e/feature/conversations.spec.ts
  apps/web/e2e/feature/dismissed-strategies.spec.ts
  apps/web/e2e/feature/site-switching.spec.ts
  apps/web/e2e/fixtures/api-client.ts
  apps/web/e2e/fixtures/test.ts
  apps/web/e2e/journey/cross-species-orthologs.spec.ts
  apps/web/e2e/journey/crypto-intestinal-infection.spec.ts
  apps/web/e2e/journey/full-researcher-lifecycle.spec.ts
  apps/web/e2e/journey/fungal-pathogenesis.spec.ts
  apps/web/e2e/journey/leishmania-virulence.spec.ts
  apps/web/e2e/journey/malaria-drug-resistance.spec.ts
  apps/web/e2e/journey/toxoplasma-host-invasion.spec.ts
  docker-compose.yml
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

allow empty ollama_models.yaml file to be given
  apps/api/src/veupath_chatbot/ai/models/catalog.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Updated docs
  .gitignore
  README.md
  apps/api/README.md
  apps/api/docs/_static/custom.css
  apps/api/docs/api/agents.rst
  apps/api/docs/api/ai.rst
  apps/api/docs/api/chat.rst
  apps/api/docs/api/domain.rst
  apps/api/docs/api/engines.rst
  apps/api/docs/api/experiments.rst
  apps/api/docs/api/gene_sets.rst
  apps/api/docs/api/index.rst
  apps/api/docs/api/integrations.rst
  apps/api/docs/api/overview.rst
  apps/api/docs/api/persistence.rst
  apps/api/docs/api/platform.rst
  apps/api/docs/api/research.rst
  apps/api/docs/api/services.rst
  apps/api/docs/api/strategies.rst
  apps/api/docs/api/subkani.rst
  apps/api/docs/api/tools.rst
  apps/api/docs/api/transport.rst
  apps/api/docs/api/vectorstore.rst
  apps/api/docs/api/wdk_services.rst
  apps/api/docs/conf.py
  apps/api/docs/index.rst
  apps/api/pyproject.toml
  apps/api/src/veupath_chatbot/ai/engines/cached_anthropic.py
  apps/api/src/veupath_chatbot/ai/tools/planner/experiment_tools.py
  apps/api/src/veupath_chatbot/services/experiment/seed/helpers.py
  apps/api/src/veupath_chatbot/services/strategies/session_factory.py
  apps/api/uv.lock
  apps/web/README.md
  assets/pathfinder.png
  packages/shared-py/README.md
  packages/shared-ts/README.md
  packages/spec/README.md
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Add logo and update version
  apps/api/docs/_static/pathfinder-logo-dark.svg
  apps/api/docs/_static/pathfinder-logo.svg
  apps/api/docs/conf.py
  apps/api/pyproject.toml
  apps/api/uv.lock
  apps/web/package.json
  packages/shared-py/pyproject.toml
  packages/shared-ts/package.json
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Fix duplicate logo issue
  apps/api/docs/_static/pathfinder-logo-dark.svg
  apps/api/docs/_static/pathfinder-logo.svg
  apps/api/docs/conf.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Update logo
  README.md
  apps/api/docs/_static/pathfinder-logo.png
  apps/api/docs/_static/pathfinder-logo.svg
  apps/api/docs/conf.py
  apps/web/public/favicon.ico
  apps/web/public/favicon.svg
  apps/web/public/pathfinder-white.svg
  apps/web/public/pathfinder.png
  apps/web/public/pathfinder.svg
  apps/web/src/app/components/TopBar.tsx
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Update README image
  assets/pathfinder.png
Due: none

Fix SoC & DIP violations, log exceptions
  apps/api/src/veupath_chatbot/ai/tools/planner/workbench_tools.py
  apps/api/src/veupath_chatbot/services/catalog/param_validation.py
  apps/api/src/veupath_chatbot/services/catalog/searches.py
  apps/api/src/veupath_chatbot/services/chat/orchestrator.py
  apps/api/src/veupath_chatbot/services/gene_sets/enrichment.py
  apps/api/src/veupath_chatbot/services/strategies/wdk_sync.py
  apps/api/src/veupath_chatbot/transport/http/routers/strategies/crud.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Update docs
  apps/api/docs/api/strategies.rst
Due: shared-ts-openapi

Fix npm vulnerabilities
  apps/web/package-lock.json
Due: prettier-web, eslint-web, typecheck-web, build-web

Fix list_searches using tons of context
  apps/api/src/veupath_chatbot/ai/prompts/system.md
  apps/api/src/veupath_chatbot/ai/tools/catalog_tools.py
  apps/api/src/veupath_chatbot/services/catalog/searches.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Search optimizations for higher model precision
  apps/api/src/veupath_chatbot/ai/prompts/system.md
  apps/api/src/veupath_chatbot/services/catalog/searches.py
  apps/api/src/veupath_chatbot/services/strategies/step_creation.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Add param guardrails and clarifications
  apps/api/src/veupath_chatbot/ai/prompts/system.md
  apps/api/src/veupath_chatbot/domain/parameters/vocab_utils.py
  apps/api/src/veupath_chatbot/services/strategies/step_creation.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Fix: flattening should only include children and not parents
  apps/api/src/veupath_chatbot/domain/parameters/vocab_utils.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Fix colocation issue #2
  apps/api/src/veupath_chatbot/domain/strategy/compile.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/base.py
  apps/api/src/veupath_chatbot/services/experiment/materialization.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Upstream/start/stop in colocation params?
  apps/api/src/veupath_chatbot/domain/strategy/compile.py
  apps/api/src/veupath_chatbot/services/experiment/materialization.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Sort profile patterns alphabetically
  apps/api/src/veupath_chatbot/integrations/veupathdb/client.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/base.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Expand group phylogenetic profile patterns
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/base.py
  apps/api/src/veupath_chatbot/integrations/veupathdb/strategy_api/steps.py
  apps/api/src/veupath_chatbot/services/catalog/param_resolution.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

honour siteId query param coming from client
  apps/api/src/veupath_chatbot/transport/http/routers/veupathdb_auth.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

front end auth functions take siteId parameter so no longer rely on veupathdb being one of the configured sites
  apps/web/package-lock.json
  apps/web/src/app/hooks/useAuthCheck.test.ts
  apps/web/src/app/hooks/useAuthCheck.ts
  apps/web/src/app/hooks/useAuthRefresh.test.ts
  apps/web/src/app/hooks/useAuthRefresh.ts
  apps/web/src/features/sites/components/SignInForm.tsx
  apps/web/src/features/sites/components/SitePicker.tsx
  apps/web/src/lib/api/client.test.ts
  apps/web/src/lib/api/veupathdb-auth.ts
Due: prettier-web, eslint-web, typecheck-web, build-web

Switch npm -> yarn 4.13
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .yarnrc.yml
  README.md
  apps/web/Dockerfile
  apps/web/README.md
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/src/app/hooks/useAuthRefresh.ts
  docker-compose.e2e.yml
  docker-compose.yml
  package.json
  packages/shared-ts/README.md
  packages/shared-ts/package-lock.json
  packages/shared-ts/scripts/generate-openapi.mjs
  packages/spec/README.md
  scripts/sync-api-types.sh
  yarn.lock
Due: prettier-web, eslint-web, typecheck-web, build-web, shared-ts-openapi

Add extensive linting, ruff checks, pip-audit, and more ahead of codebase cleanup
  .gitignore
  .pre-commit-config.yaml
  apps/api/pyproject.toml
  apps/api/src/veupath_chatbot/domain/parameters/vocab_utils.py
  apps/api/src/veupath_chatbot/domain/strategy/ops.py
  apps/api/src/veupath_chatbot/domain/strategy/organism.py
  apps/api/src/veupath_chatbot/domain/strategy/session.py
  apps/api/src/veupath_chatbot/integrations/__init__.py
  apps/api/src/veupath_chatbot/main.py
  apps/api/src/veupath_chatbot/services/strategies/step_creation.py
  apps/api/src/veupath_chatbot/tests/integration/test_live_tree_vocab.py
  apps/api/src/veupath_chatbot/tests/unit/test_catalog_searches.py
  apps/api/src/veupath_chatbot/tests/unit/test_step_creation_service.py
  apps/api/src/veupath_chatbot/transport/http/routers/evaluation.py
  apps/api/uv.lock
  apps/web/eslint.config.cjs
  apps/web/knip.json
  apps/web/package.json
  apps/web/tsconfig.json
  packages/shared-ts/tsconfig.json
  yarn.lock
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Delete old files
  apps/api/src/veupath_chatbot/ai/agents/experiment.py
  apps/api/src/veupath_chatbot/ai/prompts/experiment/analysis.md
  apps/api/src/veupath_chatbot/ai/prompts/experiment/controls.md
  apps/api/src/veupath_chatbot/ai/prompts/experiment/parameters.md
  apps/api/src/veupath_chatbot/ai/prompts/experiment/run.md
  apps/api/src/veupath_chatbot/ai/prompts/experiment/search.md
  apps/web/src/app/api/v1/experiments/ai-assist/route.test.ts
  apps/web/src/app/api/v1/experiments/ai-assist/route.ts
  apps/web/src/lib/components/ui/Checkbox.tsx
  apps/web/src/lib/components/ui/Collapsible.tsx
  apps/web/src/lib/components/ui/Progress.tsx
  apps/web/src/lib/components/ui/Section.tsx
  apps/web/src/lib/components/ui/Select.tsx
  apps/web/src/lib/components/ui/Skeleton.tsx
  apps/web/src/lib/components/ui/Stepper.tsx
  apps/web/src/lib/components/ui/Tabs.tsx
Due: ruff-format-api, ruff-check-api, mypy-api, prettier-web, eslint-web, typecheck-web, build-web, openapi-check-api, shared-ts-openapi

Fix CVE issue
  apps/api/pyproject.toml
  apps/api/uv.lock
  yarn.lock
Due: shared-ts-openapi

Fix PLR2004
  apps/api/src/veupath_chatbot/services/catalog/param_resolution.py
  apps/api/src/veupath_chatbot/services/catalog/param_validation.py
  apps/api/src/veupath_chatbot/services/catalog/searches.py
  apps/api/src/veupath_chatbot/services/catalog/vocab_rendering.py
  apps/api/src/veupath_chatbot/services/chat/mention_context.py
  apps/api/src/veupath_chatbot/services/experiment/ai_analysis_tools.py
  apps/api/src/veupath_chatbot/services/experiment/cross_validation.py
  apps/api/src/veupath_chatbot/services/experiment/robustness.py
  apps/api/src/veupath_chatbot/services/experiment/step_analysis/_evaluation.py
  apps/api/src/veupath_chatbot/services/experiment/step_analysis/orchestrator.py
  apps/api/src/veupath_chatbot/services/experiment/step_analysis/phase_contribution.py
  apps/api/src/veupath_chatbot/services/experiment/step_analysis/phase_sensitivity.py
  apps/api/src/veupath_chatbot/services/experiment/types/json_codec.py
  apps/api/src/veupath_chatbot/services/gene_lookup/lookup.py
  apps/api/src/veupath_chatbot/services/gene_lookup/organism.py
  apps/api/src/veupath_chatbot/services/gene_lookup/scoring.py
  apps/api/src/veupath_chatbot/services/gene_sets/enrichment.py
  apps/api/src/veupath_chatbot/services/parameter_optimization/scoring.py
  apps/api/src/veupath_chatbot/services/research/utils.py
  apps/api/src/veupath_chatbot/services/research/web_search.py
  apps/api/src/veupath_chatbot/services/search_rerank.py
  apps/api/src/veupath_chatbot/services/strategies/auto_push.py
Due: ruff-format-api, ruff-check-api, mypy-api, openapi-check-api, shared-ts-openapi

Path conditions:
  ruff-format-api: any of: \.py$
  ruff-check-api: any of: \.py$
  mypy-api: any of: \.py$
  prettier-web: any of: ^(apps/web/|packages/shared-ts/).*
  eslint-web: any of: ^(apps/web/|packages/shared-ts/).*
  typecheck-web: any of: ^(apps/web/|packages/shared-ts/).*
  build-web: any of: ^(apps/web/|packages/shared-ts/).*
  openapi-check-api: any of: ^apps/api/.* and \.py$
  shared-ts-openapi: any of: ^(packages/shared-ts/|apps/api/).*
